<div>
  <div class="addContainer" fxLayout="row" fxLayoutAlign="start center">
    <h2>New To-Do list</h2>
  </div>
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>To-Do List</mat-label>
    <textarea
      class="textareaHeight"
      matInput
      placeholder="Enter your To-Do list description..."
      [(ngModel)]="todoTitle"
    ></textarea>
  </mat-form-field>
  <div class="marginTop30" fxLayout="row" fxLayoutAlign="center center">
    <button color="accent" mat-flat-button (click)="addTodo()">
      Create List
    </button>
  </div>
</div>
